.edit-post-template-title {
	display: inline-flex;
	flex-grow: 1;
	justify-content: center;
}

.edit-post-template-top-area {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	align-items: center;

	.edit-post-template-title,
	.edit-post-template-post-title {
		//height: 16px;
		padding: 0;
		text-decoration: none;

		&.has-icon {
			svg {
				height: 16px;
				width: 16px;
				margin-right: $grid-unit-05;
			}
		}
	}

	.edit-post-template-post-title {
		margin-bottom: $grid-unit-05;
	}
}

.edit-post-template-top-area__popover .components-popover__content {
	min-width: 360px;
}
